<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="Async persistence MongoDB demo">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        My Example Blog
      </h1>
    </header>

    <section class="add-new-post">
      <h2>
        Add A Post
      </h2>
      <form action="/posts" method="post">
        <label>
          <h3>
            Blog Title
          </h3>
          <input name="title" placeholder="A tantalizing title">
        </label>
        <label>
          <h3>
            Blog Text
          </h3>
          <textarea name="body" placeholder="Some pithy prose"></textarea>
        </label>
        <button type="submit" class="button">
          Create Post
        </button>
      </form>
      <p>
        <a href="/delete">Delete All Posts</a> 
        <a href="/reset">Reset App</a>
      </p>
    </section>

    <hr>

    <h2>
      Past Posts
    </h2>
    <main>
      {% for post in posts %}
        {% block post %}
          <article>
            <h4>
              {{post.title}}
            </h4>
            <p>
              {{post.body}}
            </p>
          </article>
        {% endblock %}
      {% endfor %}
    </main>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    
  </body>
</html>